h1{
    background-color: #FFDCB5;
    color:darkblue;
    padding: 20px;
    display: inline-block;
    border: 30px solid #932210;
}
span{
    background-color: #5EFAF7;
    color:#8c00ff;
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 20px;
    border: 30px solid #005B50;
}
ul li {
    list-style: square;
    border: 10px solid darkblue;
    background-color: cyan;
    color:darkblue;
    font-size: xx-large;
    display: inline-flex;
    padding: 20px;
}
div{
    background-color: #FF8CC8;
    color: #0004ff;
    margin-top: 30px;
    width: 250px;
    padding: 20px;
    height: 250px;
    border: 30px solid #8A0028;
}